doctype html
html
  head
    title Gestão de Alunos
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/axios.min.js")
    script(src="/javascripts/apagar.js")
  body
    block content
