extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-dark-gray
                h3 Arquivo de Músicas Sonoro
            
            p.w3-padding Aceda no url a /musica/id
            
            p.w3-padding *id entre os valores [1,448]*

            footer.w3-container.w3-dark-gray
                address Gerado por Arquivo Música App